<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GitHubToken" value="a64031bb0994ba72398e4d140a5866eae952a4b4" />
  </appSettings>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" bypassonlocal="True"/>
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
</configuration>